registry=https://registry.npmjs.org/
always-auth=true
//registry.npmjs.org/:_authToken=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

link-workspace-packages=deep
prefer-workspace-packages=true

public-hoist-pattern[]=!*eslint*
