registry=https://registry.npmjs.org/
always-auth=true
//registry.npmjs.org/:_authToken=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

link-workspace-packages=deep
prefer-workspace-packages=true

public-hoist-pattern[]=!*eslint*
