.fox-table {
    overflow: auto;
    position: relative;

    --fox-table--transform-x: -0px;
    --fox-table--transform-y: -0px;
    --fox-table--clip-x: 0px;
    --fox-table--clip-y: 0px;

    table {
        position: absolute;
        overflow: hidden;
        outline: none;

        tbody {
            transform: translate(0, var(--fox-table--transform-y, 0px));

            tr {
                td {
                    transform: translate(var(--fox-table--transform-x, 0px), 0);

                    &:first-of-type {
                        clip-path: polygon(var(--fox-table--clip-x, 0)0, var(--fox-table--clip-x, 0)100%, 100% 100%, 100% 0);
                    }
                }

            }
        }
    }
}

.fox-virtual-panel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    pointer-events: none;
}

.fox-scroll-table-clip {
    position: sticky;
    contain: strict;
    overflow-anchor: none;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}