.fox-table {
    overflow: auto;
    position: relative;

    --fox-table--transform-x: -0px;
    --fox-table--transform-y: -0px;
    --fox-table--clip-x: 0px;
    --fox-table--clip-y: 0px;

    .fox-row {
        display: block;
        white-space:nowrap;
        .fox-cell {
            display: inline-block;
            min-height: 60px;
            min-width: 60px;
        }
    }
}

.fox-virtual-panel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    pointer-events: none;
}

.fox-scroll-table-clip {
    position: sticky;
    contain: strict;
    overflow-anchor: none;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}