.f-data-grid {
    overflow: hidden;
    border: 1px solid red;

    &__clip {
        position: sticky;
        contain: strict;
        overflow-anchor: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}