.f-virtual-panel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    pointer-events: none;
}

.f-data-grid {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid red;
}